.btn-outline,
.btn-primary {
  background-color: transparent;
  border: 2px solid $secondary-color;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
  color: $secondary-color;
  font-family: $primary-font;
  transition: all 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    color: $tertiary-color;
  }
}

.btn-primary {
  background-color: $secondary-color;
  color: $tertiary-color;

  &:hover {
    background-color: transparent;
    color: $secondary-color;
  }
}
